[submodule "delphi-webapi"]
	path = delphi-webapi
	url = https://github.com/delphi-hub/delphi-webapi
[submodule "delphi-webapp"]
	path = delphi-webapp
	url = https://github.com/delphi-hub/delphi-webapp
[submodule "delphi-cli"]
	path = delphi-cli
	url = https://github.com/delphi-hub/delphi-cli
[submodule "delphi-crawler"]
	path = delphi-crawler
	url = https://github.com/delphi-hub/delphi-crawler
[submodule "delphi-management"]
	path = delphi-management
	url = https://github.com/delphi-hub/delphi-management
